var startX = 0
var startY = 0
var lastLeft = 0; var lastTop = 0
function touchstart(event, ins) {
	var touch = event.touches[0] || event.changedTouches[0]
	startX = touch.pageX
	startY = touch.pageY
}
function touchmove(event, ins) {
	var touch = event.touches[0] || event.changedTouches[0]
	var pageX = touch.pageX
	var pageY = touch.pageY
	var left = pageX - startX + lastLeft
	var top = pageY - startY + lastTop
	startX = pageX
	startY = pageY
	lastLeft = left
	lastTop = top
//#ifdef MP
	ins.selectComponent('.wxsDrag').setStyle({
		left: left + 'px',
		top: top + 'px'
	})
//#endif
//#ifndef MP
	ins.setStyle({
		left: left + 'px',
		top: top + 'px'
	})
//#endif
}
module.exports = {
  init: touchstart,
  touchmove: touchmove
}
// demo
// <view class="wxsDrag" @touchstart="drag.init" @touchmove="drag.touchmove">
// 	<view class="wxsDrag"></view>
// </view>